/* 
    Document   : 2014Styles
    Created on : Jan 28, 2014, 10:56:54 AM
    Author     : koriley
    Description:
        Purpose of the stylesheet follows.
*/
.gsc-control-cse-en{

    width: 200px !important;
    background-color: transparent !important;
    border: 0px !important;
    float: right !important;
    margin: 0px !important;
    padding: 0px !important;

}
@media (min-width: 980px) {

	div.branding{
   height:220px;
   }
}
@media only screen and (max-width: 780px) {
    /* this fixes the right scroll on mobile */
html, body { width:100%;  overflow-x:hidden; }

}    
@media only screen and (max-width: 320px) {

   html .article h1.article-title{ font-size:250% !important;}
   .galHead { font-size:200% !important;}
}

.galHead{
    font-size:250% !important;
}
.navbar{
    box-shadow: 0 0 0 0;
    text-shadow:.5px .5px .5px #6b6a6a;
}

.nav-container{
    background-image:none;
    background-color:transparent;
}

.navbar .navbar-inner, .navbar .branding {
    background-color:transparent;
    background-image: none;
    
}

.logo img{
    margin-top:10px;
    width:300px;
}

.navButton{
    color:#ffffff;
    
    text-shadow: 0 0 0;
}

.navbar .nav{
    
}

.adPlacement{
    position:absolute;
    top:100px;
    left:auto;
    right:0px;
}

.radiant_scroller .scroller-el {
width: 250px;
height: 400px;
margin-right: 10px;
margin-bottom: 10px; /* This is optional but recommended - otherwise your images will have no horizontal spacing */
}

nav.eyebrow #eyebrow-list.nav > li > a{
    color:grey;
    text-shadow: none;
    
}

.navbar .nav > li > a:hover{
    background-color:#fff;
    color:red;
}

.logo-wrapper{
    top:-25px; /* This raises the logo up*/
}

.adPlacement{
    top:65px; /* this raises the ad up */
}
.nav-container .nav-wrapper{
    margin-top:-30px; /* this brings the main nave bar up*/
}

.navbar .nav li > div.menu-item-wrapper > a{
    text-shadow:.5px .5px .5px #6b6a6a;
}
/* this changes the color of the main menu */
.navbar .nav li > div.menu-item-wrapper > a:hover{
    color:#000;
    background-color:transparent;
    border:0px #000 solid;
    text-shadow:.5px .5px .5px #6b6a6a;
}

/*////Dropdown menu stuff /// */
.navbar .nav > li.dropdown:hover > div.menu-item-wrapper > a:hover {
    color:#000;
    background-color:#000;
    text-shadow:0px 0px 0px;
    border:0px;
}

.navbar .nav > li.dropdown:hover > div.menu-item-wrapper > a {
    color:red;
    background-color:#000;
    text-shadow:0px 0px 0px;
    border:0px;
}

.navbar .nav > li > div.menu-item-wrapper > .dropdown-menu {
    background-color:#000;
    /*display:block; /* remove this to hide the dropdowns */
}

/* lower menu items in dropdown */
.navbar .nav >li > div.menu-item-wrapper > .dropdown-menu{
    opacity:1 ;
}
.navbar .nav > li ul.dropdown-menu li a{
    color:#fff;
    background-color:transparent;
    border:0px;
    text-shadow:.5px .5px .5px #6b6a6a;
    font-size:75%;
    text-align:center;
     opacity:1;
     font-family:"AL";
   
}

.navbar .nav > li ul.dropdown-menu li a:hover{
    color:black;
    background-color:#fff;
    border:0px;
    text-shadow:0px 0px 0px;
    opacity:1;
}


/*the border around the lower menu item words*/
.nav-container ul.nav > li ul.dropdown-menu li{
    border:0px;
    border-bottom: 1px #999 solid;
}

/*last child botom border*/
.nav-container ul.nav > li ul.dropdown-menu li:last-child{
    border-bottom:0px;
}

.nav-container ul.nav > li > div.menu-item-wrapper > ul.dropdown-menu > li a{
    text-align:center;
}
/*//////////////////////////////////////////*/

/* This is the caret */
.navbar .nav > li >div.menu-item-wrapper >a span.caret{
    opacity:0;
}

.sg-splash-bottom-menu .galleryMenu .galleryMenuItem .galleryMenuItemInner{
    background-color:#000;
    border-radius:10px 10px 10px 10px;
    content: "";
    width:10px; height:10px;
}

.sg-splash-bottom-menu .galleryMenuSpace .galleryMenuNavigation.selected .galleryMenuItemInner, .sg-splash-bottom-menu .galleryMenuSpace .galleryMenuNavigation.selected .galleryMenuItemInner:hover, .sg-splash-bottom-menu .galleryMenu .galleryMenuItem.selected .galleryMenuItemInner, .sg-splash-bottom-menu .galleryMenu .galleryMenuItem.selected .galleryMenuItemInner:hover{
    background-color:red;
    box-shadow: 1px 1px 1px #4D0006 inset;
}

.sg-splash-bottom-menu.sg-option-menu .galleryMenu .galleryMenuItem .galleryMenuItemInner{
    width:10px; height:10px;
}

.sg-splash-bottom-menu .galleryMenuSpace{
    background-color:transparent;
    text-align:center;
}

.sg-splash-bottom-menu .pagination ul{
    display:inline-block;
}

.calendar-view-search-form ul li:last-child a{
   /* background-color:red;
    background-image:none;*/
}
.monthly-calendar{
    margin-top:10px;
}

/* read now module */
.ReadNow{
    text-align:center;
    color:red;
}

/* make video iframes responsive, has jquery wrapper component */

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}
.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*bact to top css */
.back-to-top {
    
    float:right;
    text-decoration: none;
    color: #000000;
    background-color: rgba(215, 25, 33, 0.80);
    font-size: 12px;
    padding: 1em;
    display: none;
}

.back-to-top:hover {    
    background-color: rgba(135, 135, 135, 0.50);
}

label{
    text-align: left;
}

a.thumbnail div.data-picture-block img{
    width: auto !important;
}

/*carousel bar div */

#carDivBar{
    border-top:7px solid #9F9D9D;
    width:auto; 
    margin-top:17px; 
    margin-left:10px;
}

/* ul restaurant stuff, used in home gallery module*/
/* fix asap */
ul.restaurants {
	margin:0;
	padding:0;
	}
	
ul.restaurants li {
	list-style:none;
	border-bottom:solid 1px #fff;
	margin:0;
	padding:0;
	}

ul.restaurants li a:before {
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.25em;
	line-height:1em;
	font-weight:bold;
/*	content: "0BB 020";  */
	}
	
ul.restaurants li a {
	font-family:Arial, Helvetica, sans-serif;
	display:block;
	background:#f0f2ea;
	padding:3px 5px;
	text-decoration:none;
	color:#666;
	}

ul.restaurants li a:hover {
	background:#dbddd6;
	color:#000;
	text-decoration:none;
	}

h5.cuisine-head {
	color:#fff;
	background-color: #9B9C97;
	font-size: 10px;
	font-weight: bold;
	font-family:Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	margin-top:10px;
	margin-bottom:1px;
	padding:4px 10px;	
}

ul.restaurants li.rowA a {
	background:#f0f2ea;
	}
	
ul.restaurants li.rowB a {
	background:#fff;
	}
	
ul.restaurants li.rowA a:hover, ul.restaurants li.rowB a:hover {
	background:#dbd666;
	}
