/* 
    Document   : fixes
    Created on : Apr 1, 2014, 10:49:45 AM
    Author     : koriley
    Description:
        Purpose of the stylesheet follows.
*/


.span4{
    width:380px;
}

.monthly-calendar{
    margin-top:10px;
}

label{
    text-align: left;
}