/*** structure ***/

#columns-1-2 {
	float:right; 
	display:inline;
	width:780px;
       border-right:0px;
      
	}
	
/* column 1 */

#column-1 {
	float:left;
	width:175px;
	display:inline;
	border-right:0px;
	background-color:#fff;
	padding: 0px 5px;
	}

/* column 2 */

#column-2 {
	float:left;
	width:408px;
	display:inline;
	clear:both;     
	  
	}
	
/* column 3 */

#column-3 {
	float:right;
	width:365px;
	display:inline;
	margin-right:0px;
}
	
/* layout changes */
#page-body{
	background-color:#dbdbdb;

}

#subnav-container {
	width:970px; 
	background-color:#dbdbdb;
	height:20px;
	padding-bottom:0px;
	border-bottom:2px solid ;
}

.ad-module {
	background-image: url('/images/elements/bg-hatch.gif');
	padding:15px 0px;
	border: 2px solid #ffffff;
	margin-bottom:5px;
}

.monthly-calendar h3{
	font-size:25px;
	line-height:1.2em;
	font-family: helvetica, arial, sans-serif;
	padding:5px 0px 0px 0px;
	margin:0px;
}
