/* CSS Document */

/* article page styles */

#columns-1-2 {
	margin-right:5px;
	float:left;
	display:inline;
	width:635px;
	}
	
/* column 3 */

#column-3 {
	float:left;
	width:320px;
	display:inline;
	}

#article {
	padding:15px;
	background:#fff;
	margin-bottom:5px;
	line-height:1.75em;
	}
	
#article-image {
	float:left;
	margin-right:15px;
	}
	
.column-3-box {
	margin-top: 5px;
}	
	
.column-3-content {
	margin-left :0px;
	margin-right :0px;	
}		
	
#bottom-ad {
	text-align:center;
	padding:5px;
	background-color:#fff;
	}

#x01-ad {
	background-color: #fff;
	padding: 5px;
}