/* CSS Document */

#columns-1-2 {
	width:630px;
	background:#fff;
	line-height:1.75em;
       float:left;
	}
	
/* column 3 */

#column-3 {
	width:300;
	}

#columns-fullwidth {
	float:left;
	padding:15px;
	background:#fff;
	margin-right:0px;
	margin-left:0px;
	line-height:1.75em;
	display: inline;
	}