/* CSS Document */

#columns-1-2 {
	
	background:#fff;
	line-height:1.75em;
	padding:50px 15px 15px 15px;
	width:610px;
	border-right: 1px solid #dbdbdb;
	}
	
/* column 3 */

#column-3 {
	width:320px;
	border:0px;
	padding-left:5px;
	}

#columns-fullwidth {
	float:left;
	width:940px;
	padding:15px;
	background:#fff;
	margin-right:0px;
	margin-left:0px;
	line-height:1.75em;
	display: inline;
	}

/** child page menu **/

	
ul.child-page-menu {
	padding:10px;
	background:#fff;
	margin:0px;
	margin-bottom:5px;
	}
	
div.column-3-box ul.child-page-menu {
	padding:0px;
	background:#fff;
	margin:0px;
	margin-bottom:0px;
	}
	
ul.child-page-menu li:first-child {
	border-top:solid 1px #ccc;
	}

ul.child-page-menu li {
	list-style:none;
	border-collapse:collapse;
	border-bottom:solid 1px #ccc;
	padding:0;
	margin:0;
	}
	
ul.child-page-menu li a {
	display:block;
	background:#fff;
	padding:5px;
	text-decoration:none;
	font-weight:bold;
	}
	
ul.child-page-menu li a:hover {
	background:#eee;
	text-decoration:none;
	}

#page-body{
	margin-top:5px;
}
